
.section:after {

	clear: both;
	content: ".";
	display: block;
	height: 0;
	width: 0;
	visibility: hidden;
}

body { font: normal 100% Helvetica, Arial, Sans-serif; }

body { background: url(images/bg_stars.jpg); }

h1 { font-size: 1.8em; margin: 0 0 30px 0; }
h2 { font-size: 1.8em; margin: 0 0 10px 0; }
h3 { font-size: 1.8em; margin: 0 0 10px 0; }
h4 { font-size: 1.8em; margin: 0 0 10px 0; }

#container { max-width: 1000px; margin: 20px auto; border: 1px solid #999; border-radius: 15px; }
#container { background: #FFF; }

header {  border-bottom: 1px solid #999; }
header a.home { margin: 20px 0 20px 20px; display: block; float: left;  }

header div.top-links { float: right; margin: 5px 5px 0 0;}

#content { min-height: 430px; padding: 30px; }
footer { color: #FFF; text-align: center; padding: 30px;max-width: 1000px; margin: 0 auto;  }

.w100 { width: 100px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w400 { width: 400px; }
.w500 { width: 500px; }

/* forms */

div.message { color: #CC0000; margin: 0 0 20px 0; }

form.input { display: block; }
form.input:after { clear: both;content: ".";display: block;height: 0;width: 0;visibility: hidden;  }
form.input div label { display: block; width: 80px; float: left; font-size: 0.9em; }
form.input div input[type='text'] { display: block; float: left; }
form.input div { margin: 0 0 10px 0; }
form.input div:after {
              	clear: both;
              	content: ".";
              	display: block;
              	height: 0;
              	width: 0;
              	visibility: hidden;
              }
form.input button { float: right; }

form button.create { float: right; margin: 0 0 5px 0; }

/* sign in */

div.center-page { margin: 30px auto 100px auto;  }

div.signin-page { width: 250px; }
div.signin-page h1 { text-align: center; }
div.signin-page input[type='text'] { width: 150px; }
div.signin-page input[type='password'] { width: 150px; }
div.signin-page form { margin: 0 0 30px 0; }
div.signin-page div.help { text-align: center; }
div.signin-page div.help a { margin-right: 20px; font-size: 0.9em; }
div.signin-page div.remember-me { width: 160px; float: right; }
div.signin-page div.remember-me label { display: inline; float: none; }

/* register */

div.register-page { width: 250px;  }
div.register-page form div label { width: 120px; float: none; margin: 0 0 5px 0; font-size: 0.9em; }
div.register-page form div label:after { clear: both; }
div.register-page form div input { width: 150px;  }
div.register-page form div input[type='text'] { width: 200px;  }

div.user-list table { width: 500px; }


/* user-edit */

div.user-edit { width: 300px; }
div.user-edit div input { width: 150px; }

/* test content */

table.items { border: 1px solid #999; margin: 0 0 10px 0; }
table.items td, table.things th { border: 1px solid #999; padding: 5px;}
table.items th { background: #e6e5e5; color: #333; text-align: left; padding: 5px; }
table.items th.select { width: 25px;  }
table.items th.id { width: 20px;  }
table.items tr:nth-child(odd) { background: #F1F1F1; }

div.widgets-page { width: 500px; }

table.widget.items { width: 500px; }

form.add-widget { width: 300px; }
form.add-widget h3 { font-size: 1em; }
form.add-widget div label { font-size: 0.9em; width: 120px; }

form.edit-widget { width: 250px; }
form.edit-widget div label { width: 90px;  }
form.edit-widget div input { width: 150px;  }