
.section:after {

	clear: both;
	content: ".";
	display: block;
	height: 0;
	width: 0;
	visibility: hidden;
}

body { font: normal 100% Helvetica, Arial, Sans-serif; }

body { background: url(images/bg_stars.jpg); }

h1 { font-size: 1.8em; margin: 0 0 30px 0; }
h2 { font-size: 1.8em; margin: 0 0 10px 0; }
h3 { font-size: 1.8em; margin: 0 0 10px 0; }
h4 { font-size: 1.8em; margin: 0 0 10px 0; }

#container { max-width: 1000px; margin: 20px auto; border: 1px solid #999; border-radius: 15px; }
#container { background: #FFF; }

header {  border-bottom: 1px solid #999; }
header a { margin: 20px 0 20px 20px; display: block; }

#content { min-height: 450px; padding: 30px; }
footer { color: #FFF; text-align: center; padding: 30px;max-width: 1000px; margin: 0 auto;  }

/* test content */

table.things { border: 1px solid #999;}
table.things td, table.things th { border: 1px solid #999; padding: 5px;}
table.things th { background: #F1F1F1; }
