

<div class="center-page widgets-page">

<h1>Speaker View</h1>


<h2>{{speaker.name}}</h2>


<span class="alert alert-error" ng-show="message != null">{{message}}</span>

    <form class="horizontal-form">

        <div class="input-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="speaker.name" required="true"/>
        </div>


        <div class="input-group"><label>Short Bio</label>
            <input type="text" class="form-control" ng-model="speaker.shortBio" required="true"/>
        </div>

        <div class="input-group">
            <button type="button" class="btn btn-success" ng-click="updateSpeaker(speaker)">Update</button>
        </div>


    </form>


</div>