

<div class="center-page register-page section">

<h1>Register</h1>

<div ng-show="message != null" class="message">{{message}}</div>

<form class="input" method="POST" ng-submit="registerUser(user)">

    <div>
        <label>First Name</label>
        <input type="text" name="firstName" ng-model="user.firstName" required="true"/>
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" ng-model="user.lastName" required="true"/>
    </div>

    <div>
        <label>Email</label>
        <input type="text" name="email" ng-model="user.email" required="true"/>
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" ng-model="user.password" required="true"/>
    </div>
    <div>
        <label>Confirm</label>
        <input type="password" name="confPassword" ng-model="user.confPassword" required="true"/>
    </div>
    <button class="btn btn-primary">Register</button>

</form>


</div>