<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">

    <display-name>MyApp</display-name>

	    <context-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>
	            classpath:applicationContext.xml
	            classpath:applicationContext-security.xml
	        </param-value>
	    </context-param>

        <listener>
            <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>

		<servlet>
	            <servlet-name>dispatcher</servlet-name>
	            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	            <load-on-startup>1</load-on-startup>
	    </servlet>

        <filter>
            <filter-name>springSecurityFilterChain</filter-name>
            <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>springSecurityFilterChain</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

	    <servlet-mapping>
		        <servlet-name>dispatcher</servlet-name>
		        <url-pattern>/</url-pattern>
		</servlet-mapping>


</web-app>